<div class="col-md-4 cards" data-id="<%= portfolio_item.id %>">
  <div class="card mb-4 box-shadow">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb' ), width: '100%', height: '100%' %>
    <div class="card-body">
      <p class="card-text">
      	<span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
		<em><%= portfolio_item.subtitle %></em>
      </p>

      <% if logged_in? ( :site_admin ) %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
           <p>
            <%= link_to "Edit", edit_portfolio_path(portfolio_item.id), class: 'btn  btn-sm btn-outline-secondary'   %>         	
           </p>
           <p>
           	<%= link_to "View", portfolio_path(portfolio_item.id), class: 'btn  btn-sm btn-outline-secondary'   %> 
           </p> 
        </div>
        
        <small  class="text-muted"> <%=  distance_of_time_in_words(portfolio_item.created_at, Time.now) %> </small>

      </div>

      <% end %>
    </div>
  </div>
</div>
