<h2>Portfolio item </h2>

<% @portfolio_items.each do |portfolio_item| %>
	<h5>Title: <%= portfolio_item.title %></h5>
	<h5>SubTitle: <%= portfolio_item.subtitle %></h5>
	<h5>Body: <%= portfolio_item.body %></h5>
	<h5>Main Image: <%= portfolio_item.main_image %></h5>
	<h5> <%= portfolio_item.thumb_image %></h5>
	<hr>
<% end %>