<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keyword" content="<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'shared/blog_nav' %>      
        
    <div class="blog-header">
      <div class="container">
        <h6 class="blog-title"> My Blog </h6>
          <div class="lead blog-description">
                   <p>Blogs should be technical related only </p> 
                  <%= link_to 'Write a New Blog', new_blog_path if logged_in? ( :site_admin ) %>          
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <%= yield %>
      
        <%= render partial: 'shared/blog_sidebar' %>
      
      </div>

      <!-- Start of Footer -->
      <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
    <!-- End of Footer -->
      
      <%= source_helper("blog") %>    
           
    </div>


  </body>
</html>
